<html>
<head>
	<script src = "/assets/libraries/show.js"></script>
</head>
<body>
	<header class="header">
    <h1 id="heading" ></h1>
  </header>
  <div id="show_div" >
   <table class="table"> 
     <tr>
      <th>ADDRESS</th>
      <th>PHONE</th>
    </tr>
    <tr id="template">
      <td id="address"></td>
      <td id="phone"></td>
    </tr>
  </table>
  <h1>BOOKS</h1>
  <table class="book">
    <tr>
     <th>name</th>
     <th>author</th>
     <th>isbn</th>
     <th>price</th>
     <th>publication</th>
     <th>version</th>
     <th>no of copies</th>
   </tr>
   <tr id="book_template">
    <td id="book_name" ></td>
    <td id="book_author"></td>
    <td id="book_isbn"></td>
    <td id="book_price"></td>
    <td id="book_publication"></td>
    <td id="book_version"></td>
    <td id="book_no_of_copies"></td>
  </tr>
</table>
</div>
</body>
</html>