<html>
<head>
  <script src = "/assets/books/show.js"></script>
</head>
<body>
  <div id="show_div" >
    <header class="header">
      <h1 id="heading" ></h1>
    </header>
    <table  class="table"> 
      <tr>
        <th>AUTHOR</th>
        <th>ISBN</th>
        <th>PRICE</th>
        <th>PUBLICATION</th>
        <th>VERSION</th>
        <th>NO OF COPIES</th>
        <th>LIBRARY_ID</th>
        <th>CATEGORY_ID</th>
      </tr>
      <tr hidden="true" id="book_template">
        <td id="book_author"></td>
        <td id="book_isbn"></td>
        <td id="book_price"></td>
        <td id="book_publication"></td>
        <td id="book_version"></td>
        <td id="book_no_of_copies"></td>
        <td id="library_id"></td>
        <td id="category_id"></td>
      </tr>
    </table>
  </div>
</body>
</html>

