#index_div, #show_div{
	background-color: #F2F2F2;
	font-family: 'Josefin Sans', sans-serif;
}
#heading{
	color: #635EB5; 
	font-size: 30px; 
	text-transform: uppercase;
	padding-top: 70px;
	text-align: center;
	text-shadow: 0 -1px rgba(0,0,0,0.6);
	line-height: 40px;
	font-weight: bolder;
	font-family: 'Josefin Sans', sans-serif;
}
#add_book{
	background-color: #A785FF;
	border: none;
	color: white;
	padding: 10px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 2px 1px;
	cursor:pointer;
}
.table{
	border-collapse: collapse;
	width: 100%;
}
.table, th, td {
	border: 1px solid black;
}
th{
	background-color: #4CAF50;
	color: white;
	height: 40px;
}
td {
	height: 10px;
	vertical-align: bottom;
}
th , td {
	padding: 15px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}
#add_new_form {
	background-color: #f2f2f2;
}
input[type=text] {
	padding: 12px 20px;
	margin: 8px 0;
	width: 20%;
}
input[type=submit]{
	background-color: #A785FF;
	border: none;
	color: white;
	padding: 10px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 2px 1px;
	cursor:pointer;
}